.loginBackground {
  background-image: url("../components/backgroundHospitalImage.jpg");
}

.loginPage {
  font-family: Roboto;
  color: #012d5a;

  /** box creation **/
  width: 50rem;
  height: 30rem;
  background-color: #f1f1f1;
  border-radius: 4rem;

  /** centering content in box **/
  display: flex;
  justify-content: center;

  /** centering box in entire page **/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /** box shadows **/
  box-shadow:
    0px -0px 101px 8px rgba(0, 0, 0, 0.45),
    25px 0px 20px -20px rgba(0, 0, 0, 0.45),
    0px 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.hospLogo {
  height: 50%;
  width: 50%;
  object-fit: contain;
}

.avatarPic {
  height: 30%;
  width: 30%;
  object-fit: contain;
}

.inputBox {
  width: 10%;
  height: 10%;
  background: #d9d9d9;
  border-radius: 20;
  color: black;
  font-size: 48;
  font-family: "Inter";
  font-weight: 500;
  word-wrap: break-word;
}

.resetButton {
  width: 10%;
  height: 10%;
  position: absolute;
  background: white;
  border-radius: 114;
  text-align: center;
  color: black;
  font-size: 48;
  font-family: "Inter";
  font-weight: 700;
}
