.xout {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ff0000; /*You can change the background color*/
  color: #ffffff; /*You can change the text color*/
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  /* Add additional styling as needed */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.xout-container {
  position: relative;
}

.linkstuff {
  text-decoration: none;
  color: #f1f1f1;
}

.xout:hover {
  background-color: #ffffff; /* White background color on hover */
  color: #ff0000; /* Red text color on hover */
}

.hover-content {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%; /* Position the tooltip below the button */
  right: 1%;
  transform: translateX(-50%);
  background-color: #ffffff; /* White background color for the tooltip */
  color: #000000; /* Black text color for the tooltip */
  padding: 10px;
  border-radius: 5px;
  transition:
    visibility 0.3s,
    opacity 0.3s;
  z-index: 3; /* Ensure the hover content is above the button */
}

.xout-container:hover .hover-content {
  visibility: visible;
  opacity: 1;
}
