.xout {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #012d5a; /*You can change the background color*/
  color: #ffffff; /*You can change the text color*/
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  /* Add additional styling as needed */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.linkstuff {
  text-decoration: none;
  color: #f1f1f1;
}
