.xout {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #012d5a; /*You can change the background color*/
  color: #ffffff; /*You can change the text color*/
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  /* Add additional styling as needed */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
