.button {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
  color: black;
  border-color: transparent;
  cursor: pointer;
}

/** Guest Button **/
.guestButton {
  /** make box larger **/
  margin-top: 7rem;
  font-size: larger;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  width: 20rem;
  padding: 1.5rem;

  background-color: #012d5a;
  color: #f1f1f1;

  top: 50%;
  left: 50%;
  transform: translate(-33%, -50%);
}
