.map-test {

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #a0a7b1;
}

.clickableAtag {
  cursor: pointer;
}

.pathLine {
  stroke: black;
  stroke-width: 5;
    animation: dash 8s linear infinite reverse;
    stroke-dasharray: 2vw;
}

.pathLineAll {
    stroke: black;
    stroke-width: 5;
}

.floorLinkRect{
    rx:5;
    fill: #062651;
    fill-opacity: 85%;
}
.floorLinkText {
    font: bold 50px sans-serif;
    fill: white;
}

.normalNode {
  fill: blue;
  r: 10; /* radius of node */
}

.normalNodeHovered {
  fill: blue;
  r: 15; /* radius of node */
}

.startSelected {
  fill: green;
  r: 10; /* radius of node */
}

.startSelectedHovered {
  fill: green;
  r: 15; /* radius of node */
}

.transitionNode {
    fill: #DD6F00;
    r: 10; /* radius of node */
}

.transitionNodeHovered {
    fill: #DD6F00;
    r: 15; /* radius of node */
}


.endSelected {
  fill: red;
  r: 10; /* radius of node */
}

.endSelectedHovered {
  fill: red;
  r: 15; /* radius of node */
}

/*node info hoverOver*/

.foreignObjectNode{

}

.foreignObjectNodeVisible{
    /*this is effectivly a max width*/
    width:400px;
    /*this is effectivly a max height*/
    height: 1200px;

}

.spanNodeInfo{
    visibility: hidden;
}

.spanNodeInfoVisible{
    visibility: visible;

    background-color: rgba(6,38,81,0.85);
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding: 5px ;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 5;
}

.ulNodeinfo{
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}


@keyframes dash {

    to {
        stroke-dashoffset: 1600;
    }

}
