.map-test {

    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #a0a7b1;
}

.clickableAtag {
    cursor: pointer;
}

.pathLine {
    stroke: black;
    stroke-width: 5;
    animation: dash 10s linear infinite reverse;
    stroke-dasharray: 1vw;
}

.pathLineAll {
    stroke: black;
    stroke-width: 5;
}

.floorLinkRect {
    rx: 5;
    fill: #062651;
    fill-opacity: 85%;

}

.floorLinkText {
    font: bold 50px sans-serif;
    fill: white;
}

.normalNode {
    fill: #003a96;
    stroke: #062651;
    stroke-width: 3px;
    r: 10; /* radius of node */
}

.normalNodeHovered {
    fill: #003a96;
    stroke: #062651;
    stroke-width: 5px;
    r: 15; /* radius of node */
}

.startSelected {
    fill: #0C8750;
    stroke: #074E2E;
    stroke-width: 3px;
    r: 10; /* radius of node */
}

.startSelectedHovered {
    fill: #0C8750;
    stroke: #074E2E;
    stroke-width: 5px;
    r: 15; /* radius of node */
}

.transitionNode {
    fill: #FFBA08;
    stroke: #BD8800;
    stroke-width: 3px;
    r: 10; /* radius of node */
}

.transitionNodeHovered {
    fill: #FFBA08;
    stroke: #BD8800;
    stroke-width: 5px;
    r: 15; /* radius of node */
}


.endSelected {
    fill: #BA1215;
    stroke: #8A0E11;
    stroke-width: 3px;
    r: 10; /* radius of node */
}

.endSelectedHovered {
    fill: #BA1215;
    stroke: #8A0E11;
    stroke-width: 5px;
    r: 15; /* radius of node */
}

.hallwayNodeHidden {
    r: 0; /* radius of node */
}

.hallwayNodeVisible {
    fill: #4F5459;
    stroke: #0F1011;
    stroke-width: 2px;
    r: 7; /* radius of node */
}

.hallwayNodeVisibleHovered {
    fill: #4F5459;
    stroke: #0F1011;
    stroke-width: 3px;
    r: 14; /* radius of node */
}

/*node info hoverOver*/

.foreignObjectNode {

}

.foreignObjectNodeVisible {
    /*this is effectivly a max width*/
    width: 400px;
    /*this is effectivly a max height*/
    height: 1200px;

}

.spanNodeInfo {
    visibility: hidden;
}

.spanNodeInfoVisible {
    visibility: visible;

    background-color: rgba(6, 38, 81, 0.85);
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    width: 400px;
    max-height: 1200px;
    overflow: auto;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 5;
}

.spanNodeInfoVisiblePermanent {
    visibility: visible;

    background-color: rgba(0, 59, 63, 1);
    color: #fff;
    font-size: 30px;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    width: 400px;
    max-height: 1200px;
    overflow: auto;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 5;
}



.ulNodeinfo {
    list-style-type: none; /* Removes bullets */
    padding: 0;
    margin: 0;
}

.ulNodeRequestInfo {
    list-style-type: none; /* Removes bullets */
    padding: 5px;
    margin-top: 10px;
    border-radius: 6px;
    background-color: rgba(6, 38, 81, 0.85);
}


.foreignObjectNodeLongName {
    /*this is effectivly a max width*/
    width: 150px;
    /*this is effectivly a max height*/
    height: 80px;
}

.nodeLongNameText {
    background-color: rgba(6, 38, 81, 0.85);
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding: 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 5;
}



@keyframes dash {

    to {
        stroke-dashoffset: 1000;
    }

}
