.map-test {
  align-items: center;
  display: flex;
  width: 70vw;
  max-height: 80vh;
  border-radius: 1rem;
    justify-content: center;
    margin: 10% auto auto;
    background-color: #a0a7b1;
}

.clickableAtag {
  cursor: pointer;
}

.pathLine {
  stroke: black;
  stroke-width: 5;
}

.normalNode {
  fill: blue;
  r: 10; /* radius of node */
}

.normalNodeHovered {
  fill: blue;
  r: 15; /* radius of node */
}

.startSelected {
  fill: green;
  r: 10; /* radius of node */
}

.startSelectedHovered {
  fill: green;
  r: 15; /* radius of node */
}

.endSelected {
  fill: red;
  r: 10; /* radius of node */
}

.endSelectedHovered {
  fill: red;
  r: 15; /* radius of node */
}
