.medTable {
    overflow-x: scroll;
    overflow-y: scroll;
    border-radius: 0.75rem;
    justify-content: left;
    border-collapse: collapse;
    background-color: #F1F1F1;

}


.tableTRHead{

    background-color: #062651;
    color:white;
}

.tableTR{
}

.tableTR:nth-child(even){

    background-color: #E1E1E1;
}

.tableTD{
    padding: 8px;
    font-weight: normal;
}


