:root {
    --white: #FFF;
    --gray: #363638;
    --gray-mid: #9D9D9D;
    --gray-dark: #3e3e3e;
    --gray-hover: #F7F7F7;
    --body-background: #012D5A;
    --primary: #0097A0;
    --primary-border: #42375d;
    --text: #CEC0E0;
    --widget-background: #F1F1F1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.filterDiv{
    margin-bottom: 1rem;

    display: flex;
    flex-direction: row;

}

.statusFilterDiv{
    max-width: 12rem;
    background-color: #E1E1E1;
    border-radius: 10px;
    padding: 8px;
    display: grid;
    margin-right: 0.75rem;
    border-color: black;
}

.tabs-container {
    transform: scale(110%);
    padding: 16px;
    margin: 7.5% auto auto;
    width: 65%;
    height: 75vh;

    display: flex;

    /*justify-content: center;*/

    border-radius: 16px;
    background-color: #F1F1F1;

    /*proberly should get rid of this*/
    /*transform: scale(1.5);*/
}



.tab-content-wrapper {
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.45s ease-in-out;
    padding: 0 16px;
    transform: scale(95%);

}

.tab-content h2 {
    color: black;
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
}

.tab-content {
    font-size: 0.8rem;
    min-height: 300px;
    min-width: 240px;
    color: black;
    overflow-x: auto;
    transition: all 0.45s ease-in-out;

}

.tab-content img {
    width: 100%;
    height: auto;
    margin-top: 16px;
}

.tabs {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    min-width: 140px;
    width: 20%;
    overflow-x: hidden;
    overflow-y: auto;

    list-style-type: none;
    padding-right: 4px;
    gap: 8px;
    margin-left: 0.5rem;
}

/* Left hand side bar **/
.tabs a {
    position: relative;
    display: flex;
    text-decoration: none;
    width: 100%;
    font-size: min(20px, 20px);
    cursor: pointer;
    font-weight: 600;
    text-align: left;
    border-radius: 8px;
    justify-content: start;
    padding: 4px;
    align-items: center;
    gap: 8px;
    color: white;
    user-select: none;
    margin-top: .75rem;

    background-color: #024C96;
    transition: all 0.45s ease-in-out;


}

.tabs a img {
    height: 20px;
    width: 20px;
}


/* hover effects on selection */

.tabs a:hover {
    outline: none;
    background-color: #012d5A;
    color: white;

}

.tabs .active {
    outline: none;
    background-color: #012d5A;
    color: white;
}




.requestButton {
    font-family: 'Work Sans', sans-serif;
    background-color: #012D5A;
    color: white;
    white-space: nowrap;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    line-height: 1rem;
    outline: none;
    font-size: 1rem;
    letter-spacing: 0.025em;
    text-decoration: none;
    cursor: pointer;
    font-weight: 800;
    min-height: 2.5rem;
    width: 49.5%;
    border-radius: 0.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.tab-input-fields {
    color: black;
    font-size: 0.75rem;
    font-weight: 500;
    max-width: 100%;
    width: 15rem;
    border: 1px solid black;
    height: 2rem;
    letter-spacing: 0.03rem;
    background-color: transparent;
    outline: none;
    transition: 0.25s;
    border-radius: 0.5rem;
    text-indent: 1.25rem;
    margin-top: 0.5rem;


}
