.table-container {
  border-radius: 2rem;
  background-color: #fcfcfd;
  padding: 1.5rem;

  max-width: 47.5rem;
  border: 2px solid #edeef1;
  box-shadow: 0 4px 16px 0 rgba(148, 156, 169, 0.15);
  text-align: center;
  overflow: auto;

    justify-content: center;
    display: flex;
    margin: auto;


  /* removed position absolute center */
}

td:nth-child(2) {
  color: black;
  width: 5rem;
}

.request-table-container {
    margin: 10% auto auto;
    font-family: 'Work Sans', sans-serif;
}

td {
    font-family: 'Work Sans', sans-serif;
}

select {
    background-color: #012d5a;
    color: white;
    border-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    border-radius: 1rem;
    padding: 8px;
}

option {
    background-color: #F1F1F1;
    color: black;
}

