/*Map {*/
/*    height: 100vh;*/
/*    background: url("../components/01_thefirstfloor.png") no-repeat center;*/
/*    background-size: cover;*/
/*}*/

/*.dropbtn {*/
/*  background-color: #04aa6d;*/
/*  color: white;*/
/*  padding: 16px;*/
/*  font-size: 16px;*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  position: fixed; !* or absolute, depending on your layout *!*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/

/*.dropbtn:hover,*/
/*.dropbtn:focus {*/
/*  background-color: #3e8e41;*/
/*}*/

/*#myInput {*/
/*    box-sizing: border-box;*/
/*    background-image: url('searchicon.png');*/
/*    background-position: 14px 12px;*/
/*    background-repeat: no-repeat;*/
/*    font-size: 16px;*/
/*    padding: 14px 20px 12px 45px;*/
/*    border: none;*/
/*    border-bottom: 1px solid #ddd;*/
/*}*/

/*#myInput:focus {*/
/*    outline: 3px solid #ddd;*/
/*}*/

/*.dropdown {*/
/*  position: fixed;*/
/*  top: 48px;*/
/*  left: 0;*/
/*  display: inline-block;*/
/*}*/

/*.dropdown-content {*/
/*  display: none;*/
/*  position: relative;*/
/*  background-color: #f6f6f6;*/
/*  min-width: 230px;*/
/*  height: 50vh;*/
/*  overflow: auto;*/
/*  border: 1px solid #ddd;*/
/*}*/

/*.dropdown-content a {*/
/*  color: black;*/
/*  padding: 12px 16px;*/
/*  text-decoration: none;*/
/*  display: block;*/
/*}*/

/*.dropdown a:hover {*/
/*  background-color: #ddd;*/
/*}*/

/*.show {*/
/*  display: block;*/
/*}*/

body {
  background-image: url("../images/01_thefirstfloor.png");
  /* Add other body styles as needed */
  background-size: cover; /* Adjust based on your preference */
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-direction: column;
  /*background-attachment: fixed;*/
}

.xout {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #012d5a; /*You can change the background color*/
  color: #ffffff; /*You can change the text color*/
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 2;
  /* Add additional styling as needed */
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
