/** THIS IS THE ENTIRE PAGE SETUP **/

.welcome {
  background-image: url("../images/backgroundHospitalImage.jpg");
}
.welcomeLogin {
  font-family: "Work-Sans", sans-serif;
  color: #012d5a;

  /** box creation **/
  width: 50rem;
  height: 30rem;
  background-color: #f1f1f1;
  border-radius: 4rem;

  /** centering content in box **/
  display: flex;
  justify-content: center;

  /** centering box in entire page **/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /** box shadows **/
  box-shadow:
    0 -0px 101px 8px rgba(0, 0, 0, 0.45),
    25px 0 20px -20px rgba(0, 0, 0, 0.45),
    0 25px 20px -20px rgba(0, 0, 0, 0.45),
    -25px 0 20px -20px rgba(0, 0, 0, 0.45);
}

/** Logo Image Alterations **/
.mgbLogo {
  height: 50%;
  width: 50%;
  object-fit: contain;
  position: absolute;
  z-index: -1;
  margin-top: -1rem;
}

/** Welcome to Text **/
.welcomeTo {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: -2rem;
  color: #003a96;
  z-index: 1;
  font-weight: 200;
}

/** The button formations **/
.buttonsContainer {
  /** positioning **/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;

  /** display to column form **/
  width: 100px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
}

.linkstuff {
  text-decoration: none;
  color: #f1f1f1;
}

.linkstuff {
  text-decoration: none;
  color: #f1f1f1;
}
